html, body {
    background-color: #81b3d2;
}

body {
    font-size: 14px;
    line-height: 26px;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}