.introduce-wrapper {
    color: #000;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 0;
}

.introduce__title {
    font-size: 21px;
    line-height: 26px;
    color:  #000;
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
    padding: 0 20px;
}

.introduce__text {
    text-align: center;
    padding: 0 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.introduce--other-pages {
    padding-bottom: 25px;
}

@media @tablet-width {
    .introduce__text {
        padding-bottom: 40px;
    }
}