.pluses-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.plus-with-photo {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.plus-without-picture {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.pluses__title {
    padding-left: 70px;
    padding-right: 20px;
    text-align: left;
}

.pluses__text {
    padding-left: 70px;
    padding-right: 20px;
    text-align: left;
}

@media @tablet-width {
    .pluses-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
    }

    .plus-with-photo {
        display: flex;
        flex-direction: row;
        margin: auto;
    }

    .plus-without-picture {
        display: flex;
        flex-direction: row;
        margin: auto;
    }

    .pluses__title {
        padding: 0 40px;
        text-align: center;
    }

    .pluses__text {
        padding: 0 40px;
        padding-bottom: 60px;
        text-align: center;
    }
}

