.review-form {
    width: 100%;
}

.review-form__wrapper {
    width: 100%;
    background-color: #fff;
}

.review-form__block {
    padding: 20px;
}

.review-form__block {
    display: flex;
    flex-direction: row;
    position: relative;
    border: none;
    border-top: 1px solid @color-mobile-disabled;
    padding: 0 20px;
    padding-top: 67px;
    padding-bottom: 25px;
    margin-right: 0;
    margin-left: 0;
}

.review-form__block-title,
.review-form__block-title2 {
    position: absolute;
    width: 100%;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    padding-top: 22px;
    left: 0;
    text-align: center;
    top: 0;
}

.review-form__block--name  .review-form__block--wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.review-form__block input {
    font-size: 18px;
    color: #000;
    line-height: 26px;
    text-transform: none;
      padding: 0;
   padding-left: 16px;
   height: 50px;
   border: 4px solid transparent;
   background-color: @color-btn;
   outline: none;
}

.review-form__block input:hover {
    background-color: @color-mobile-disabled;
}

.review-form__block input:focus {
    background-color: #fff;
    border: 4px solid @color-mobile-disabled;
}

.review-form__block--name input {
    margin-bottom: 20px;
    width: 100%;
}

.review-form__block--contacts {
    padding-right: 20px;
}

.review-form__block--contacts  .review-form__block--wrapper {
    display: flex;
    flex-direction: column;
}

.review-form__block--contacts  input {
    margin-top: 10px;
    width: 100%;
}

.review-form__block--contacts  .review-form__phone-label,
.review-form__block--contacts  .review-form__mail-label
{
    padding-left: 20px;
}

.review-form__block-error {
    text-transform: none;
    color: #ff5c5c;
    margin: 0;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.review-form__block--name  .review-form__text-label {
    padding-right: 20px;
}

.icon-mail__wrapper::after {
    content: "";
    position: absolute;
    background-image: url(../img/mail@2x.svg);
    background-size: 18px 18px;
    display: block;
    align-content: center;
    background-position: center;
    background-repeat: no-repeat;
    width: 58px;
    height: 58px;
    top: 10px;
    right: 0;
    background-color: #e6e6e6;
}

.review-form__block--contacts  .review-form__phone-label,
//.review-form__phone-label--only-desktop,
.icon-phone__wrapper,
.review-form__block--contacts  .review-form__mail-label,
.icon-mail__wrapper
 {
    position: relative;
}

.review-form__radio-label,
.review-form__checkbox-label {
    position: relative;
    padding-left: 77px;
    padding-top: 19px;
    padding-bottom: 24px;
    display: flex;
    text-transform: none;
    font-weight: bold;
    font-size: 18px;
}

.review-form__radio-label::before {
    content: "";
    position: absolute;
    display: block;
    width: 22px;
    height: 22px;
    border: 17px solid @color-btn;
    background-color: @color-btn;
    border-radius: 50%;
    left: 0;
    top: -1px;
}

input[type=radio]:checked+.review-form__radio-label::before {
    background-color: #333;
}

.review-form__block--radio  input,
.review-form__block--checkbox  input {
    display: none;
}

.review-form__block--checkbox  .review-form__block--wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review-form__checkbox-label::before {
    content: "";
    position: absolute;
    //background-image: url(../img/tick@2x.svg);
    background-size: 24px 16px;
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    background-color: @color-btn;
    background-position: center;
    border-radius: 10%;
    left: 0;
    top: 3px;
}

.icon-phone__wrapper::after {
    content: "";
    position: absolute;
    background-image: url(../img/phone@2x.svg);
    background-size: 18px 18px;
    display: block;
    align-content: center;
    background-position: center;
    background-repeat: no-repeat;
    width: 58px;
    height: 58px;
    top: 10px;
    right: 0;
    background-color: #e6e6e6;
}

input[type=checkbox]:checked+.review-form__checkbox-label::before {
    background-image: url(../img/tick@2x.svg);
    color: #333;
}

.review-form__radio-label:hover::before {
    border: 17px solid @color-mobile-disabled;
    background-color: @color-mobile-disabled;
}

.review-form__radio-label:active::before {
    border: 17px solid #d5d5d5;
}

.review-form__checkbox-label:hover::before {
    background-color: @color-mobile-disabled;
}

.block-title__emotions {
    padding: 12px 16px;
    box-sizing: border-box;
    width: 100%;
    min-height: 160px;
    border: 4px solid transparent;
   background-color: @color-btn;
   outline: none;
   resize: none;
}

.review-form__block--emotions {
    padding-bottom: 50px;
}

.block-title__emotions:hover {
    background-color: @color-mobile-disabled;
}

.block-title__emotions:focus {
    background-color: #fff;
    border: 4px solid @color-mobile-disabled;
}

.block-title__emotions  textarea[type="text"] {
    padding-left: 20px;
}

.form__wrapper-button {
    margin: 0 20px;
    margin-bottom: 42px;
}

.icon-phone__wrapper {
    //padding: 0;
    padding-right: 24px;
}

.icon-mail__wrapper {
    padding-right: 24px;
}

.block--checkbox__wrapper {
    margin-top: 17px;
}

.review-form__phone-label--only-desktop {
    display: none;
}

@media @mobile-width-only {
    .review-form__block-title--tablet-only,
    .review-form__block-error--tablet,
    .review-form__block-error--desktop,
    .obligatory-field
     {
        display: none;
    }
}

@media @tablet-width {
    .review-form__block-title--mobile-desktop,
    .review-form__block-error--desktop {
        display: none;
    }

    .review-form {
        display: flex;
        margin: auto;
    }

    .review-form__block {
        margin: 0;
        display: flex;
        border: none;
        padding: 0;
        padding-top: 105px;
    }

    .review-form__wrapper {
        margin: 0 60px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .review-form__block-title {
        font-size: 21px;
    }

    .review-form__block--radio {
        display: flex;
        order: -1;
        width: 50%;
    }

    .review-form__block--name {
        display: flex;
        order: 0;
        width: 50%;
    }

    .review-form__block--name  .review-form__block-title,
    .review-form__block--name  .review-form__text-label {
        padding-left: 58px;
    }

    .review-form__block--name  .review-form__block-title,
    .review-form__block--radio  .review-form__block-title
     {
         text-align: left;
     }

     .review-form__block--contacts {
         width: 100%;
         padding-top: 65px;
     }

     .line__wrapper {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         margin: 0;
         padding: 0;
         position: relative;
         align-items: baseline;
         max-height: 33px;
     }

     .review-form__block-error--mobile {
         display: none;
     }

     .review-form__mail-label {
         padding-top: 24px;
     }

    /* .review-form__block--contacts {
         position: none;
         border-left: 1px solid @color-mobile-disabled;
     }
     */

    .review-form__block--checkbox {
        width: 100%;
        padding-left: 95px;
        padding-right: 95px;
    }

    .review-form__block--emotions {
        width: 100%;
    }

     .review-form__block-title--tablet-width,
     //.review-form__block--checkbox  .review-form__block-title,
     //.review-form__block--emotions  .review-form__block-title
      {
         width: 400px;
     }

     .review-form__block--tablet-border {
         border-top: 1px solid #dbdbdb;
         padding-top: 15px;
     }

     .review-form__block--tablet-border  .review-form__block-title,
     .review-form__block--tablet-border  .review-form__block-title2 {
        position: relative;
    }

    .block-title__emotions {
        margin-top: 42px;
    }

    .block--checkbox__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .block--checkbox__wrapper  .review-form__block--wrapper {
        width: 50%;
    }

    .review-form__block--emotions  .review-form__block-title,
    .review-form__block--checkbox  .review-form__block-title,
    .review-form__block--contacts  .review-form__block-title {
        padding-top: 0px;
    }

    .review-form__block--emotions {
        margin-top: 55px;
    }

    .review-form__block--checkbox {
        margin-top: 52px;
    }

    .review-form__block--contacts {
        margin-top: 45px;
    }

    .form__wrapper-button {
        margin: 0;
        width: 50%;
    }

    .form__button-field {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin-top: 58px;
        margin-bottom: 60px;
    }

    .obligatory-field {
        right: 0;
    }

    .review-form__radio-label {
        padding-top: 15px;
        padding-bottom: 38px;
    }
}

@media @desktop-width {
    .review-form__block-error--tablet,
    .review-form__block-title--tablet-only,
    .review-form__phone-label {
        display: none;
    }

    .review-form__block-error--desktop {
        display: flex;
        padding-bottom: 0;
        margin-left: 86px;
        margin-bottom: -3px;
    }

    .review-form__wrapper {
        margin: 0 120px;
    }

    .review-form__block--name {
        width: 400px;
        right: 0;
        margin-left: 80px;
    }

    .review-form__block-title--mobile-desktop {
        display: inline-block;
    }

    .review-form__block--radio  .review-form__block-title {
        padding-left: 80px;
    }

    .review-form__radio-label::before {
        left: 3px;
    }

    .review-form__radio-label {
        padding-left: 79px;
    }

    .block--contacts__wrapper-display {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        width: 960px;
    }

    .block--contacts__wrapper-display  .review-form__block--wrapper {
        width: 50%;
        display: flex;
        flex-direction: row;
    }

    .review-form__phone-label--only-desktop {
        display: inline-block;
    }

    .review-form__phone-label--only-desktop {
        padding-right: 21px;
        padding-top: 24px;
    }

    .review-form__block--contacts {
        padding-top: 33px;
    }

    .review-form__block--contacts  .review-form__mail-label {
        padding-left: 0;
        width: 164px;
    }

    .icon-mail__wrapper {
        width: 316px;
    }

    .block--checkbox__wrapper {
        flex-wrap: nowrap;
        width: 960px;
        justify-content: space-between;
    }

    .review-form__block--checkbox {
        padding-left: 0;
        padding-right: 0;
        padding-top: 24px;
    }

    .block--checkbox__wrapper  .review-form__block--wrapper {
        width: 21%;
    }
}