.search {
    padding: 0 20px;
    padding-top: 15px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;  
}

.search--video {
    padding-bottom: 0;
}

.search__wrapper {
    width: 100%;
    background-color: #fff;
}

.search__text {
    padding-bottom: 20px;
}

.btn-search {
    width: 100%;
    max-width: 455px;
}

@media @tablet-width {
    .search {
        margin: auto;
        padding-bottom: 60px;
        padding-top: 40px;
        //max-width: 455px;
    }

    .search__wrapper {
        width: 60%;
        margin: auto; 
    }

    .search__text {
        padding-bottom: 30px;
        padding-top: 10px;
    }

    .search__text--video {
        padding-bottom: 0;
    }
}

@media @desktop-width {
    .search--video {
        padding: 0 280px;
        padding-bottom: 55px;
        padding-top: 40px;
    }

    .search {
        padding-left: 230px;
        padding-right: 230px;
    }
}